@model Figaros.Entities.DTOs.EmployeeDtos.EmployeePostDto
@{
    ViewBag.Title = "Əməkdaşlar əlavə et";
    var professions = ViewBag.Professions;
}

<div class="container">
    <div>
        <h1>Əməkdaş əlavə et:</h1>
        <hr style="border-top: 3px solid #bbb; border-radius: 5px;">
    </div>
    <div>
        <form asp-action="Add" id="form-team-add" enctype="multipart/form-data">

            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none"></div>

            <div>

                <div class="row" style="justify-content: center; display: flex">

                    <div class="col-lg-5 col-md-12">
                        <div class="form-group">
                            <img id="EmployeeImage" style="height: 200px; width: 200px; border-radius: 50%; display: block; margin-left: auto; margin-right: auto; object-fit: cover; background: #dfdfdf" src="https://cdn-icons-png.flaticon.com/512/6017/6017051.png" />
                            <input id="EmployeeInput" style="display: block; margin-left: auto; margin-right: auto;" asp-for="ImageFile" />
                            <span class="text-danger" asp-validation-for="ImageFile"></span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">

                        <div class="form-group">
                            <label asp-for="ProfessionId" class="form-label">Vəzifə: </label>
                            <select asp-for="ProfessionId" class="form-select" style="display: block;">
                                <option selected>Birini seçin</option>

                                @foreach (var profession in professions.Professions)
                                {
                                    <option value="@profession.Id">@profession.Name</option>
                                }

                            </select>
                            <span asp-validation-for="ProfessionId" style="color: red"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="FullName">Tam ad:</label>
                            <input class="form-control" asp-for="FullName" />
                            <span class="text-danger" asp-validation-for="FullName"></span>
                        </div>

                    </div>

                </div>


                <div class="row" style="justify-content: center; display: flex">
                    <div class="col-lg-10 col-md-12">
                        <div class="form-group">
                            <label asp-for="Description">Haqqında:</label>
                            <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                    </div>
                </div>


                <div class="row" style="justify-content: center; display: flex">

                    <div class="col-lg-5 col-md-12">
                        <div class="form-group">
                            <label asp-for="InstagramUrl">Instagram:</label>
                            <input class="form-control" asp-for="InstagramUrl" />
                            <span class="text-danger" asp-validation-for="InstagramUrl"></span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="form-group">
                            <label asp-for="FacebookUrl">Facebook:</label>
                            <input class="form-control" asp-for="FacebookUrl" />
                            <span class="text-danger" asp-validation-for="FacebookUrl"></span>
                        </div>
                    </div>

                </div>

                <div class="row" style="justify-content: center; display: flex">

                    <div class="col-lg-5 col-md-12">
                        <div class="form-group">
                            <label asp-for="TiktokUrl">Tiktok:</label>
                            <input class="form-control" asp-for="TiktokUrl" />
                            <span class="text-danger" asp-validation-for="TiktokUrl"></span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">
                        <div class="form-group">
                            <label asp-for="WhatsAppUrl">WhatsApp:</label>
                            <input class="form-control" asp-for="WhatsAppUrl" />
                            <span class="text-danger" asp-validation-for="WhatsAppUrl"></span>
                        </div>
                    </div>

                </div>

            </div>

            <div style="justify-content: center; display: flex">
                <a asp-controller="employee" asp-action="index" class="btn btn-outline-danger mx-1"><span><i class="bi bi-x"></i></span>Geri</a>
                <button type="submit" class="btn btn-success mx-1"><span><i class="bi bi-save"></i></span> Yadda saxla</button>
            </div>

        </form>
    </div>
</div>


@section Scripts{
    <script>
        const image = document.getElementById('EmployeeImage')
        const input = document.getElementById('EmployeeInput');

        input.onchange = evt => {
            const [file] = input.files
            if (file) {
                image.src = URL.createObjectURL(file)
            }
        }
    </script>
}