@using Figaros.Entities.Concrete;
@model About
@{
    Setting setting = ViewBag.Settings;
}

<!-- about_area_start -->
<div class="about_area ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_thumbs">
                    <div class="large_img_1">
                        <img src="~/uploads/About/@Model.BigImageString" alt="">
                    </div>
                    <div class="small_img_1">
                        <img src="~/uploads/About/@Model.SmallImageString" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>@Model.Title</h3>
                        <p>@Model.Description</p>
                    </div>
                    <p class="opening_hour">
                        Opening Hour
                        <span>@setting.MondayFridayWorkHours</span>
                    </p>
                    <a href="https://localhost:7054/About" class="boxed-btn3">About Us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end -->