@using Figaros.Entities.Concrete;
@model IList<Price>
@{
    int priceCount = Model.Count;
    int step = priceCount / 6;
    Setting setting = ViewBag.Settings;
}

<div class="prising_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="section_title mb-55">
                    <h3>@setting.OurPrice</h3>
                    <p>@setting.OurPriceDescription</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="prising_slider_active owl-carousel">

                    <div class="prising_active d-flex justify-content-between">
                        @for (int i = 0; i < step + 1; i++)
                        {
                            <div class="single_prising">
                                @for (int j = i * 3; j < i * 3 + 3; j++)
                                {
                                    <div class="single_service">
                                        <div class="hair_style_info">
                                            <div class="prise d-flex justify-content-between">
                                                <span>@Model[j].Service</span>
                                                <span>$@Model[j].ServicePrice</span>
                                            </div>
                                            <p>@Model[j].Description</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>