@using Figaros.Entities.Concrete;
@model IList<Product>
@{
    Setting setting = ViewBag.Settings;
}

<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>Məhsullar</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            @foreach (Product product in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="~/uploads/Products/@product.ImageString" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>@product.Title</h3>
                            <p>@product.Description</p>
                            <h3>$@product.SalePrice</h3>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>