@{
    ViewData["Title"] = "Rezervasiya";
}

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
</head>
<style>
    body {

        text-align: center;
    }

    h1 {
        color: #88B04B;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 10px;
    }

    p {
        color: #404F5E;
        font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        margin: 0;
    }

    i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left: -15px;
    }
</style>
<body>
    <div class="card py-5">
        <div>
            <i class="checkmark">✓</i>
        </div>
        <h1>Rezervasiyadan uğurla keçdiniz!</h1>
        <p>Zəhmət olmasa, gecikməyin!</p>

        <div>
            <a class="btn btn-outline-info" style="width: 200px" asp-controller="home" asp-action="index">Əsas səhifəyə geri dönün</a>
        </div>
        
    </div>
</body>
</html>