@using Figaros.Entities.Concrete;
@model IList<Employee>
@{
    Setting setting = ViewBag.Settings;
}

<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>@setting.OurBarber</h3>
                    <p>@setting.OurBarberDescription</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            @foreach (Employee employee in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single_team_member">
                        <div class="team_thumb">
                            <img src="~/uploads/Employees/@employee.ImageString" alt="">
                        </div>
                        <div class="member_info text-center">
                            <h3>@employee.FullName</h3>
                            <p>@employee.Profession.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- team_area_end  -->