@model Figaros.Entities.DTOs.AboutDtos.AboutUpdateDto
@{
    ViewBag.Title = "Haqqımızda";
}

<div class="container">
    <div>
        <h1>Haqqımızda:</h1>
        <hr style="border-top: 3px solid #bbb; border-radius: 5px;">
    </div>
    <div>
        <form asp-action="Update" id="form-team-add" enctype="multipart/form-data">

            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none"></div>

            <input hidden="true" asp-for="Id" />
            <input hidden="true" asp-for="BigImageString" />
            <input hidden="true" asp-for="SmallImageString" />

            <div>

                <div class="row" style="justify-content: center; display: flex">

                    <div class="col-lg-3 col-md-12">
                        <div class="form-group">
                            <img id="bigimage" style="height: 250px; width: 250px; border-radius: 5px; display: block; margin-left: auto; margin-right: auto; object-fit: cover; background: #dfdfdf" src="~/uploads/About/@Model.BigImageString" />
                            <input readonly id="biginput" style="display: block; margin-left: auto; margin-right: auto;" asp-for="BigImageFile" />
                            <span class="text-danger" asp-validation-for="BigImageFile"></span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <div class="form-group">
                            <img id="smallimage" style="height: 250px; width: 250px; border-radius: 5px; display: block; margin-left: auto; margin-right: auto; object-fit: cover; background: #dfdfdf" src="~/uploads/About/@Model.SmallImageString" />
                            <input readonly id="smallinput" style="display: block; margin-left: auto; margin-right: auto;" asp-for="SmallImageFile" />
                            <span class="text-danger" asp-validation-for="SmallImageFile"></span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12">

                        <div class="form-group">
                            <label asp-for="Title">Başlıq:</label>
                            <input class="form-control" asp-for="Title" />
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description">Açıqlama:</label>
                            <textarea asp-for="Description" class="form-control" rows="2">@Model.Description</textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>

                    </div>

                </div>

            </div>

            <div style="justify-content: center; display: flex">
                <a asp-controller="about" asp-action="index" class="btn btn-outline-danger mx-1"><span><i class="bi bi-x"></i></span>Geri</a>
                <button type="submit" class="btn btn-success mx-1"><span><i class="bi bi-save"></i></span> Yadda saxla</button>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    <script>
        const bigimage = document.getElementById('bigimage')
        const biginput = document.getElementById('biginput');

        biginput.onchange = evt => {
            const [file] = biginput.files
            if (file) {
                bigimage.src = URL.createObjectURL(file)
            }
        }

        const image = document.getElementById('smallimage')
        const input = document.getElementById('smallinput');

        input.onchange = evt => {
            const [file] = input.files
            if (file) {
                image.src = URL.createObjectURL(file)
            }
        }
    </script>
}