@model Figaros.Entities.DTOs.RoleDtos.RolePostDto
@{
    ViewBag.Title = "Rol əlavə et";
}

<div class="container">
    <div>
        <h1>Rol əlavə et:</h1>
        <hr style="border-top: 3px solid #bbb; border-radius: 5px;">
    </div>
    <div>
        <form name="profession-form" asp-action="add" method="post">

            <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
            <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none"></div>


            <div class="row" style="justify-content: center; display: flex">

                <div class="form-group col-lg-4 col-md-12">
                    <label asp-for="Name">Rol:</label>
                    <input class="form-control" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

            </div>

            <div style="justify-content: center; display: flex">
                <a asp-controller="role" asp-action="index" class="btn btn-outline-danger mx-1"><span><i class="bi bi-x"></i></span> Geri</a>
                <button type="submit" class="btn btn-success mx-1"><span><i class="bi bi-save"></i></span> Yadda saxla</button>
            </div>
        </form>
    </div>
</div>
