@model Figaros.Entities.DTOs.ProfessionDtos.ProfessionPostDto
@{
    ViewBag.Title = "Vəzifə əlavə et";
}

<div>
    <div>
        <h1>Vəzifə əlavə et:</h1>
    </div>
    <div>
        <form name="profession-form" asp-action="add" method="post">
            <div class="row">

                <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none"></div>

                <div class="form-group">
                    <label asp-for="Name">Vəzifə adı:</label>
                    <input name="Name" class="form-control" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

            </div>
            <div>
                <a asp-controller="profession" asp-action="index" class="btn btn-outline-danger"><span><i class="bi bi-x"></i></span> Geri</a>
                <button type="submit" class="btn btn-success"><span><i class="bi bi-save"></i></span> Yadda saxla</button>
            </div>
        </form>
    </div>
</div>
